@font-face {
  font-family: 'Open Sans';
  src: url('../fonts/OpenSans-Regular.ttf') format('truetype')
}

/* Space out content a bit */
body {
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  padding-top: 20px;
  padding-bottom: 20px;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing{
  padding-left: 15px;
  padding-right: 15px;
}

/* Custom page header */
.header {
  border-bottom: 1px solid #e5e5e5;
}
/* Make the masthead heading the same height as the navigation */
.header h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
  padding-bottom: 19px;
}

/* Navigation icons*/

.nav-icon {
  height: 50px;
  width: 50px;
  margin: auto;

}

.nav > li > a {
  padding: 15px 25px;
}

.nav-home-img {
  background: url("../images/icons/home_g.png") no-repeat 4px;
  background-size: 85%;
}

.nav-account-img {
  background: url("../images/icons/account_g.png") no-repeat;
  background-size: 100%;
}

.nav-transfer-img {
  background: url("../images/icons/transfer_g.png") no-repeat;
  background-size: 100%;
}

.nav-order-img {
  background: url("../images/icons/order_g.png") no-repeat;
  background-size: 100%;
}

.nav-help-img {
  background: url("../images/icons/help_g.png") no-repeat 2px;
  background-size: 90%;
}


.active .nav-home-img {
  background: url("../images/icons/home.png") no-repeat 4px;
  background-size: 85%;
}

.active .nav-account-img {
  background: url("../images/icons/account.png") no-repeat;
  background-size: 100%;
}

.active .nav-transfer-img {
  background: url("../images/icons/transfer.png") no-repeat;
  background-size: 100%;
}

.active .nav-order-img {
  background: url("../images/icons/order.png") no-repeat;
  background-size: 100%;
}

.active .nav-help-img {
  background: url("../images/icons/help.png") no-repeat 2px;
  background-size: 90%;
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

/* Customize container */
@media (min-width: 768px) {
  .container {
    max-width: 830px;
  }
}
.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
}
.jumbotron .btn {
  font-size: 21px;
  padding: 14px 24px;
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;
}
.marketing p + h4 {
  margin-top: 28px;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 868px) {
  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}

/* Panels */

.panel .glyphicon-info-sign {
  font-size: 1.4em;
}

.panel .table td {
  padding-left: 15px;
}

.panel .panel-body {
  padding: 15px 0;
}

.panel .panel-body .row {
  padding: 15px 0;
  line-height: 1.5em;
}


/* Account */
.balance-container {
padding-top: 20%;
font-size: xx-large;
}

/* Bill Drawer */

.currency-drawer{

}

.bill {
  border: 2px solid white;
  background-size: 100%;
}

.coin {
  background-size: 100%;
}

.fivehundred {
  height: 68px;
  width: 117px;
  background-image: url('/images/500.jpg');
}

.hundred{
  height: 65px;
  width: 114px;
  background-image: url('/images/100.jpg');
}

.fifty {
  height: 62px;
  width: 113px;
  background-image: url('/images/50.jpg');
}

.twenty {
  height: 60px;
  width: 111px;
  background-image: url('/images/20.jpg');
}

.ten {
  height: 58px;
  width: 106px;
  background-image: url('/images/10.jpg');
}
.five {
  height: 55px;
  width: 105px;
  background-image: url('/images/5.jpg');
}

.two {
  height: 55px;
  width: 55px;
  background-image: url('/images/2.jpg');
}

.one {
  height: 50px;
  width: 51px;
  background-image: url('/images/1.jpg');
}

.c-fifty {
  height: 46px;
  width: 46px;
  background-image: url('/images/c-fifty.jpg');
}

.c-twenty {
  height: 40px;
  width: 40px;
  background-image: url('/images/c-twenty.jpg');
}

.c-ten {
  height: 39px;
  width: 39px;
  background-image: url('/images/c-ten.jpg');
}

.c-five {
  height: 39px;
  width: 39px;
  background-image: url('/images/c-five.jpg');
}

.c-one {
  height: 37px;
  width: 37px;
  background-image: url('/images/c-one.jpg');
}

.coins-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding-top: 1em;
  border-top: 1px solid rgb(223, 223, 223);
  overflow: auto;
}

.coin-group {
  list-style: none;
  padding: 0;
}

.coin-group li {
  float: right;
}

.bills-container{
  overflow: auto;
}

.bill-group {
  list-style: none;
  float: left;
  height: 130px;
  width: 50%;
  position: relative;
  padding: 0;
  margin: 0;
}

.bill-group::nth-child(2n) {
  clear: both;
}

.bill-group li {
  position: absolute;
  right: 0;
}

.bill-group li + li {
  right: 15px;
  top: 15px
}

.bill-group li + li + li{
  right: 30px;
  top: 30px
}

.bill-group li + li + li + li{
  right: 45px;
  top: 45px
}

.bill-group li + li + li + li + li {
  right: 60px;
  top: 60px
}

.bill-group li + li + li + li + li + li{
  right: 75px;
  top: 75px
}

.bill-group li + li + li + li + li + li + li{
  right: 90px;
  top: 90px
}

.bill-group li + li + li + li + li + li + li + li{
  right: 105px;
  top: 105px
}

.access-bar a{
  padding: 0 5px;
}

.access-bar a:last-child{
  padding: 0 0 0 5px;
}

.acc-font-small{
  font-size: x-small;
}
.acc-font-medium{
  font-size: small;
}
.acc-font-large{
  font-size: medium;
}

.color-group {
  padding-left: 25px;
}
