<!doctype html>
<html class="no-js">

<head >
  <meta charset="utf-8">
  <title>HdM Bank</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width">
  <link rel="icon" type="image/png" href="/images/icons/account.png">
  <!-- build:css(.) styles/vendor.css -->
  <!-- bower:css -->
  <link rel="stylesheet" href="bower_components/ngDialog/css/ngDialog.css" />
  <link rel="stylesheet" href="bower_components/ngDialog/css/ngDialog-theme-default.css" />
  <!-- endbower -->
  <!-- endbuild -->
  <!-- build:css(.tmp) styles/main.css -->
  <link rel="stylesheet" href="styles/main.css">
  <!-- endbuild -->
</head>

<body ng-app="swFrontApp" ng-controller="MainCtrl" ng-class="{ 'black-style' : schemeBlack, 'font-n' : font_norm, 'font-b' : font_big, 'font-br' : font_bigger }">
<!--[if lt IE 7]>
<p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade
  your browser</a> to improve your experience.</p>
<![endif]-->

<!-- Add your site or application content here -->
<div class="container">
  <button type="button" class="sout-btn btn btn-danger navbar-btn pull-right"><span class="exit_img"></span> {{ "SIGNOUT" | translate }}</button>
  <h2>HdM Bank</h2>

  <div class="well visible-print-block" aria-hidden="true" ng-controller="PrintCtrl">
    <div class="container-fluid">
      <div class="col-sm-1"> </div>
      <div class="col-sm-6"> <h4> {{'TRANSFER5_ACTION'|translate}} <h5> {{getDatetime | date:'dd.MM.yyyy - HH:mm'}}</h5> </h4></div>
    </div>
  </div>

  <nav class="navbar navbar-default hidden-print" id="navbar" role="navigation" ng-controller="NavCtrl">

    <div class="container-fluid">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                data-target="#bs-example-navbar-collapse-1">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <span class="visible-xs-inline-block navbar-brand" href="#">Menu</span>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" >
        <ul class="nav navbar-nav">
          <li ng-class="{active:isActive('/')}"><a class="text-center" href="#/"><div class="nav-icon nav-home-img" aria-hidden="true"></div> {{'HOME'|translate}} </a></li>
          <li ng-class="{active:isActive('/account')}"><a class="text-center" href="#/account"><div class="nav-icon nav-account-img" aria-hidden="true"></div> {{'ACCOUNT'|translate}}</a></li>
          <li ng-class="{active:isActive('/transfer')}"><a class="text-center" href="#/transfer"><div class="nav-icon nav-transfer-img" aria-hidden="true"></div> {{'TRANSFER'|translate}}</a></li>
          <li ng-class="{active:isActive('/order')}"><a class="text-center" href="#/order"><div class="nav-icon nav-order-img" aria-hidden="true"></div> {{'ORDER'|translate}}</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li ng-class="{active:isActive('/help')}"><a class="text-center" href="#/help"><div class="nav-icon nav-help-img"></div> {{'HELP'|translate}}</a></li>
        </ul>
      </div>
      <!-- /.navbar-collapse -->
    </div>
    <!-- /.container-fluid -->
  </nav>

  <!-- Angular anchor point -->
  <div ng-view="" role="main"></div>

  <div class="footer access-bar hidden-print" role="contentmodification">
    <div class="well well-sm clearfix">
      <div class="pull-left">
        <span class="font-group">{{ 'FONT' | translate }}</span>
        <a ng-click="font_n()"><span class="acc-font-small glyphicon glyphicon-font"></span></a>
        <a ng-click="font_b()"><span class="acc-font-medium glyphicon glyphicon-font"></span></a>
        <a ng-click="font_br()"><span class="acc-font-large glyphicon glyphicon-font"></span></a>
        <span class="color-group">{{ 'COLOR' | translate }}</span>
        <span ng-click="schemeBlack = !schemeBlack">
          <a><span class="color-white glyphicon glyphicon-th-large"></span></a>
          <a><span class="color-black glyphicon glyphicon-th-large"></span></a>
        </span>
      </div>
      <div class="pull-right" ng-controller="LangCtrl">
        <span class="lang-group">{{ 'LANG' | translate }}</span>
        <a ng-click="changeLanguage('de')"> Deutsch </a>
        <a ng-click="changeLanguage('en')"> English </a>
      </div>
    </div>
  </div>

  </div>
</div>

<!-- build:js(.) scripts/oldieshim.js -->
<!--[if lt IE 9]>
<script src="bower_components/es5-shim/es5-shim.js"></script>
<script src="bower_components/json3/lib/json3.js"></script>
<![endif]-->
<!-- endbuild -->

<script scr="scripts/data.json"></script>


<!-- build:js(.) scripts/vendor.js -->
<!-- bower:js -->
<script src="bower_components/jquery/dist/jquery.js"></script>
<script src="bower_components/angular/angular.js"></script>
<script src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
<script src="bower_components/angular-animate/angular-animate.js"></script>
<script src="bower_components/angular-aria/angular-aria.js"></script>
<script src="bower_components/angular-cookies/angular-cookies.js"></script>
<script src="bower_components/angular-messages/angular-messages.js"></script>
<script src="bower_components/angular-resource/angular-resource.js"></script>
<script src="bower_components/angular-route/angular-route.js"></script>
<script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
<script src="bower_components/angular-touch/angular-touch.js"></script>
<script src="bower_components/angular-translate/angular-translate.js"></script>
<script src="bower_components/ngDialog/js/ngDialog.js"></script>
<!-- endbower -->
<!-- endbuild -->
<script src="bower_components/accounting.js/accounting.js"></script>

<!-- build:js({.tmp,app}) scripts/scripts.js -->
<script src="scripts/app.js"></script>
<script src="scripts/controllers/main.js"></script>
<script src="scripts/controllers/help.js"></script>
<script src="scripts/controllers/login.js"></script>
<script src="scripts/controllers/account.js"></script>
<script src="scripts/controllers/transfer.js"></script>
<script src="scripts/controllers/order.js"></script>
<script src="scripts/controllers/help.js"></script>
<script src="scripts/directives/directives.js"></script>
<script src="scripts/services/services.js"></script>
<!-- endbuild -->
</body>
</html>
