<div class="transfert-step0">
  <h4 translate="ACCOUNT_ACTION"></h4>

  <div class="well">
    <div class="panel panel-default">
      <div class="panel-heading"> {{ 'BALANCE' | translate}} <span class="pull-right glyphicon glyphicon-info-sign" aria-hidden="true"></span></div>
      <table class="table">
        <tr>
          <td translate="BALANCE_DESC"></td>
        </tr>
      </table>
      <div class="panel-body">
        <div class="container-fluid">
          <div class="row">
            <div class="col-md-6 text-center"> {{ accountBalance | currency:"EUR" }}</div>
            <div class="col-md-6 bill-container">
              <ul ng-repeat="bill in bills" ng-show="bill.quantity" class="bill-group">
                <li ng-repeat="i in getNumber(bill.quantity) track by $index" class="{{bill.name}}"> </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
